<div
  bsModal
  #wordViewModal="bs-modal"
  class="modal fade"
  tabindex="-1"
  role="dialog"
  aria-labelledby="viewWordModalLabel"
  aria-hidden="true"
  (onHide)="onHide()"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">{{currentWord?.name}}</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="onClose()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-center">
        <table class="table table-hover table-sm">
          <tbody>
          <tr>
            <th i18n>Word</th>
            <td>{{currentWord?.name}}</td>
          </tr>
          <tr>
            <th i18n>Meaning</th>
            <td><code *ngIf="currentWord?.meaning">{{currentWord?.meaning}}</code></td>
          </tr>
          <tr>
            <th i18n>Classification</th>
            <td>{{currentWord?.classification}}</td>
          </tr>
          <tr>
            <th i18n>Synonyms</th>
            <td>{{currentWord?.synonyms}}</td>
          </tr>
          <tr>
            <th i18n>Stressed</th>
            <td>{{currentWord?.name_stressed}}</td>
          </tr>
          <tr>
            <th i18n>Broken</th>
            <td>{{currentWord?.name_broken}}</td>
          </tr>
          <tr>
            <th i18n>Derivative forms</th>
            <td> {{currentWord?.derivativeFormsNames}}</td>
          </tr>
          <tr>
            <th i18n>Incorrect forms</th>
            <td> {{currentWord?.incorrectFormsNames}}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

