<div
  bsModal
  #wordViewModal="bs-modal"
  class="modal fade"
  tabindex="-1"
  role="dialog"
  aria-labelledby="viewWordModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">Modal header</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="handleClose()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-center">
        <p>here...</p>
      </div>
      <div class="modal-footer text-center">
        <p>modal footer</p>
      </div>
    </div>
  </div>
</div>
