<form action="post" class="mx-auto" [formGroup]="generateForm" (ngSubmit)="onSubmit()">
  <div class="form-group row no-gutters">
    <label class="col control-label" for="unitText" i18n>Text</label>
    <div class="col">
      <input type="text" name="unitText" class="form-control" id="unitText" formControlName="text">
    </div>
  </div>

  <div class="form-group row no-gutters">
    <label class="col control-label" for="rows" i18n>Grid</label>
    <div class="col">
      <div class="row">
        <label class="col control-label" for="rows" i18n>Rows</label>
        <div class="col">
          <input type="number" name="gridRows" max="5" min="1" class="form-control" id="rows"
                 formControlName="rows">
        </div>
        <label class="col control-label" for="cols" i18n>Cols</label>
        <div class="col">
          <input type="number" name="gridCols" max="5" min="1" class="form-control" id="cols"
                 formControlName="cols">
        </div>
      </div>
    </div>
  </div>

  <div class="form-group row no-gutters">
    <label class="col control-label" for="criteria" i18n>Number incorrect answers</label>
    <div class="col">
      <input type="number" name="incorrect" class="form-control" id="incorrect" formControlName="incorrect">
    </div>
  </div>

  <div class="form-group row no-gutters">
    <label class="col control-label" for="criteria" i18n>Criteria</label>
    <div class="col">
      <input type="text" name="criteria" class="form-control" id="criteria" formControlName="criteria">
    </div>
  </div>

  <div class="row">
    <div class="col-sm-4"></div>
    <div class="text-center col-sm-8">
      <button class="btn btn-primary" type="submit" i18n>Generate</button>
    </div>
  </div>
</form>
