<form action="post" class="mx-auto" [formGroup]="generateForm" (ngSubmit)="onSubmit()">
  <div class="form-group row no-gutters">
    <label class="col control-label" for="unitText" i18n>Text</label>
    <div class="col">
      <input type="text" name="unitText" class="form-control" id="unitText" formControlName="unitText">
    </div>
  </div>

  <div class="form-group row no-gutters">
    <label class="col control-label" for="imagesCount" i18n>Images count</label>
    <div class="col">
      <input type="number" name="imagesCount" class="form-control" id="imagesCount" formControlName="imagesCount">
    </div>
  </div>

  <div class="form-group row no-gutters">
    <label class="col control-label" for="gridRows" i18n>Grid</label>
    <div class="col">
      <div class="row">
        <label class="col control-label" for="gridRows" i18n>Rows</label>
        <div class="col">
          <input type="number" name="gridRows" class="form-control" id="gridRows" formControlName="gridRows">
        </div>
        <label class="col control-label" for="gridCols" i18n>Cols</label>
        <div class="col">
          <input type="number" name="gridCols" class="form-control" id="gridCols" formControlName="gridCols">
        </div>
      </div>
    </div>
  </div>

  <div class="form-group row no-gutters">
    <label class="col control-label" for="criteria" i18n>Criteria</label>
    <div class="col">
      <input type="text" name="criteria" class="form-control" id="criteria" formControlName="criteria">
    </div>
  </div>

  <div class="row">
    <div class="col-sm-4"></div>
    <div class="text-center col-sm-8">
      <button class="btn btn-primary" type="submit" i18n>Generate</button>
    </div>
  </div>
</form>
