@font-face {
  font-family: 'Canaro Thin';
  src: url('Canaro-ThinItalic.eot'); /* IE9 Compat Modes */
  src: url('Canaro-ThinItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('Canaro-ThinItalic.woff') format('woff'), /* Modern Browsers */
       url('Canaro-ThinItalic.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('Canaro-ThinItalic.svg#a0f86675ee8ed21ccc61ee9a6f266935') format('svg'); /* Legacy iOS */
       
  font-style:   italic;
  font-weight:  200;
}

