@font-face {
  font-family: 'Canaro ExtraBold';
  src: url('Canaro-ExtraBold.eot'); /* IE9 Compat Modes */
  src: url('Canaro-ExtraBold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('Canaro-ExtraBold.woff') format('woff'), /* Modern Browsers */
       url('Canaro-ExtraBold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('Canaro-ExtraBold.svg#7afa10f6b2deaf5cc777aca7506e9d9f') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  700;
}

