<div class="container">
  <table class="table">
    <thead>
    <tr>
      <th colspan="3" class="text-center" i18n>Cognitive types</th>
    </tr>
    <tr>
      <th i18n>Name</th>
      <th i18n>Parent</th>
      <th i18n>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let cognitiveType of cognitiveTypes">
      <td>{{cognitiveType.name}}</td>
      <td>{{cognitiveType.parent?.name}}</td>
      <td>
        <a *ngIf="!cognitiveSkill" i18n-title title="Remove" (click)="remove(cognitiveType)"
           class="pointer remove fa fa-trash"></a>
        <a *ngIf="cognitiveSkill" class="pointer fa fa-upload text-success" title="Assign to cognitive skill" i18n-title
           aria-hidden="true"
           (click)="assignToTest(cognitiveType)"></a>
      </td>
    </tr>
    <tr *ngIf="!cognitiveTypes?.length">
      <td colspan="4" class="text-center" i18n>No results found</td>
    </tr>
    </tbody>
  </table>
  <app-pager [collectionView]="collectionView" (onPageChanged)="setPage($event)"></app-pager>
</div>
