<main role="main">
  <div class="row text-center">
    <p class="col-12 font-weight-bold h3" i18n>System for automated generation of cognitive test units</p>
  </div>
  <div class="row text-center">
    <p class="col-12 h5" i18n>to proceed please login</p>
  </div>
  <form action="post" class="login mx-auto" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="row">
      <h2 class="col-sm-4 offset-2" i18n>Log In</h2>
    </div>
    <div class="form-group row no-gutters">
      <label class="offset-2 col-sm-2 control-label" for="email" i18n>Email</label>
      <div class="col-sm-4">
        <input type="email" name="email" class="form-control" id="email" formControlName="email">
      </div>
      <div class="col-sm-2 form-control-feedback" *ngIf="loginForm.get('email').touched">
        <span *ngIf="loginForm.get('email').hasError('required')" i18n>This field is required.</span>
        <span *ngIf="loginForm.get('email').hasError('email')" i18n>Invalid email address.</span>
      </div>
    </div>
    <div class="form-group row no-gutters">
      <label class="offset-2 col-sm-2 control-label" for="password" i18n>Password</label>
      <div class="col-sm-4">
        <input type="password" name="password" class="form-control" id="password" formControlName="password">
      </div>
      <div class="col-sm-2 form-control-feedback" *ngIf="loginForm.get('password').touched">
        <span *ngIf="loginForm.get('password').hasError('required')" i18n>This field is required.</span>
        <span *ngIf="loginForm.get('password').hasError('minlength')"
              i18n>The password should be at lease 6 characters.</span>
      </div>
    </div>
    <div class="row">
      <div class="offset-1 col-9 alert alert-danger" *ngIf="serverError">
        <ng-container [ngSwitch]="serverError.status">
          <ng-container *ngSwitchCase="404" i18n>Invalid email or password</ng-container>
          <ng-container *ngSwitchDefault i18n>An error occurred</ng-container>
        </ng-container>
      </div>
    </div>
    <div class="row">
      <div class="text-center col-sm-4 offset-5">
        <button class="btn btn-primary" type="submit" i18n>Log In</button>
      </div>
    </div>
  </form>
  <div class="text-center user-options">
    <ng-container i18n>Don't have an account?</ng-container>
    <a [routerLink]="['/signup']" i18n>Sign up now</a>
  </div>
</main>
