<main role="main">
  <form action="post" class="login mx-auto" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <h2 i18n>Log In</h2>
    <div class="form-group row no-gutters">
      <label class="col-sm-4 control-label" for="username" i18n>Username</label>
      <div class="col-sm-8">
        <input type="email" name="username" class="form-control" id="username" formControlName="username">
      </div>
    </div>
    <div class="form-group row no-gutters">
      <label class="col-sm-4 control-label" for="password" i18n>Password</label>
      <div class="col-sm-8">
        <input type="password" name="password" class="form-control" id="password" formControlName="password">
      </div>
    </div>
    <div class="alert alert-danger" *ngIf="serverError">
      <ng-container [ngSwitch]="serverError.status">
        <ng-container *ngSwitchCase="404" i18n>Invalid username or password</ng-container>
        <ng-container *ngSwitchDefault i18n>An error occurred</ng-container>
      </ng-container>
    </div>
    <div class="row">
      <div class="col-sm-4"></div>
      <div class="text-center col-sm-8">
        <button class="btn btn-primary" type="submit" i18n>Log In</button>
      </div>
    </div>
  </form>
  <div class="text-center user-options">
    <ng-container i18n>Don't have an account?</ng-container> <a [routerLink]="['/signup']" i18n>Sign up now</a>
  </div>
</main>
