.login {
  padding: 20px 10px;
}

.form-control-feedback {
  font-size: 0.8rem;
  color: #ff412f;
  text-align: center !important;
  padding-top: 0.5rem !important;
}

.control-label {
  padding-top: 0.5rem !important;
}
