@import '~scss/variables';

.login {
  padding: 20px 10px;
}

.page-content {
  margin-bottom: 140px;
  padding: 50px 0 0;
}

.center-content {
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 800px;
  width: 90%;
}

h1,
h2,
h3 {
  color: $brand-primary;
  font-size: 20px;
  margin: 0 0 12px;
}
