<div class="row">
  <div class="col">
    <input id="input-file" accept="image/*" type="file" #file class="inputfile" multiple (change)="changeSelected(file.files)"/>
  </div>

  <label *ngIf="selected === 0" for="input-file" class="btn btn-primary col col-form-label" i18n>Choose image/s</label>
  <label *ngIf="selected === 1" for="input-file" class="btn btn-primary col col-form-label">{{selectedName}}</label>
  <label *ngIf="selected > 1" for="input-file" class="btn btn-primary col col-form-label" i18n>{{selected}} files selected</label>
  <div class="col">
    <button type="button" [ngClass]="{disabled:!selected}" class="btn btn-primary"
            (click)="upload(file.files)">
      <i class="fa fa-upload" aria-hidden="true"></i> <span i18n>Upload</span>
    </button>
  </div>
</div>
<div class="row mt-3">
  <div class="col">
    <div class="alert alert-danger text-center" *ngIf="serverError">
      <ng-container [ngSwitch]="serverError.status">
        <ng-container *ngSwitchCase="400" i18n>Invalid, allowed extensions are: '.jpg', '.jpeg', '.bmp', '.gif', '.png'</ng-container>
        <ng-container *ngSwitchCase="404" i18n>Invalid</ng-container>
        <ng-container *ngSwitchDefault i18n>An error occurred</ng-container>
      </ng-container>
    </div>
  </div>
</div>
<div class="row mt-3">
  <div class="col">
    <div class="alert alert-success text-center" *ngIf="uploaded">
      <span>{{uploaded}}</span><span i18n> image/s uploaded</span>
    </div>
  </div>
</div>
<div class="row mt-3">
  <div class="col">
    <div class="text-center" *ngIf="targetResult">
      <img id="your_image" [src]="targetResult" class="rounded img-fluid  uploaded-image"/>
    </div>
  </div>
</div>
