<div
  bsModal
  #modal="bs-modal"
  class="modal fade"
  tabindex="-1"
  role="dialog"
  aria-labelledby="modalLabel"
  aria-hidden="true"
  (onHide)="onHide()"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close pull-right" aria-label="Close" (click)="onClose()" title="Close" i18n-title>
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="mx-auto" [formGroup]="metadataForm" (submit)="onSubmit()" *ngIf="metadata">
          <div class="form-group row">
            <label for="name" class="col-sm-2 col-form-label" i18n>Name</label>
            <div class="col-sm-10">
              <input id="name"
                     class="form-control mb-2 mr-sm-2 mb-sm-0"
                     type="text"
                     placeholder="Name"
                     formControlName="name"
                     i18n-placeholder/>
            </div>
          </div>
          <div class="form-group row">
            <label for="type" i18n class="col-sm-2 col-form-label">Type</label>
            <div class="col-sm-10">
              <select id="type"
                      class="form-control mb-2 mr-sm-2 mb-sm-0"
                      formControlName="type">
                <option *ngFor="let type of types.types;" [value]="type.type">{{type.label}}</option>
              </select>
            </div>
          </div>
          <div class="form-group row">
            <label for="parent" class="col-sm-2 col-form-label" i18n>Parent</label>
            <div class="col-sm-10">
              <input type="hidden" id="parent_id" formControlName="parent_id">
              <input id="parent" type="text" value="{{metadata.parent?.name}}"
                     class="form-control mb-2 mr-sm-2 mb-sm-0" disabled>
            </div>
          </div>
          <div class="form-group row">
            <label for="values" class="col-sm-2 col-form-label" i18n>Ex. values</label>
            <div class="col-sm-10">
              <input id="values"
                     class="form-control mb-2 mr-sm-2 mb-sm-0"
                     type="text"
                     placeholder="Most commonly used values"
                     formControlName="values"
                     i18n-placeholder/>
            </div>
          </div>
          <div class="form-group text-right">
            <button class="btn btn-primary" type="submit" title="Save" i18n-title i18n>Save</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
