.form-control-feedback {
  font-size: 0.85rem;
  color: #ff412f;
  text-align: center !important;
  padding-top: 0.5rem !important;
}

.control-label {
  padding-top: 0.5rem !important;
}

.pointer {
  cursor: pointer;
}
