@font-face {
  font-family: 'Canaro Light';
  src: url('Canaro-Light.eot'); /* IE9 Compat Modes */
  src: url('Canaro-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('Canaro-Light.woff') format('woff'), /* Modern Browsers */
       url('Canaro-Light.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('Canaro-Light.svg#115ecf10e53b5ba0a6d61322e60ef056') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  200;
}

