@font-face {
  font-family: 'Canaro Thin';
  src: url('Canaro-Thin.eot'); /* IE9 Compat Modes */
  src: url('Canaro-Thin.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('Canaro-Thin.woff') format('woff'), /* Modern Browsers */
       url('Canaro-Thin.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('Canaro-Thin.svg#5487236f0b1908875e3af62ca62ed349') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  200;
}

