<div class="container">
  <table class="table">
    <thead>
    <tr>
      <th colspan="4" class="text-center" i18n>Metadata</th>
    </tr>
    <tr>
      <th i18n>Name</th>
      <th i18n>Parent</th>
      <th i18n>Example values</th>
      <th i18n>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>
        <div class="col">
          <input class="form-control form-control-sm" #nameFilter id="name-filter"
                 (keyup)="filterByName(nameFilter.value)" type="text" placeholder="name" i18n-placeholder>
        </div>
      </td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr *ngFor="let meta of metadata">
      <td>{{meta.name}}</td>
      <td>{{meta.parent?.name}}</td>
      <td>{{meta.values}}</td>
      <td>
        <a i18n-title title="Edit" (click)="edit(meta)" class="edit fa fa-edit pointer"></a>
        <a i18n-title title="Remove" (click)="remove(meta)" class="remove fa fa-trash"></a>
      </td>
    </tr>
    <tr *ngIf="!metadata?.length">
      <td colspan="4" class="text-center" i18n>No results found</td>
    </tr>
    </tbody>
  </table>
  <app-pager [collectionView]="collectionView" (onPageChanged)="setPage($event)"></app-pager>

  <hr/>
  <div class="row justify-content-md-center">
    <div class="col-md-12">
      <form class="form-inline mx-auto row" [formGroup]="createForm" (submit)="onSubmit()">
        <input id="name"
               class="form-control mb-2 mr-sm-2 mb-sm-0 col-md-2"
               type="text"
               placeholder="Name"
               formControlName="name"
               i18n-placeholder/>
        <select id="type"
                class="form-control mb-2 mr-sm-2 mb-sm-0 col-md-2"
                formControlName="type">
          <option *ngFor="let type of types.types;" [value]="type.type">{{type.label}}</option>
        </select>

        <select id="parent_id"
                class="form-control mb-2 mr-sm-2 mb-sm-0 col-md-3"
                formControlName="parent_id">
          <option selected value="null">-</option>
          <option *ngFor="let meta of allMetadata" [value]="meta.id">{{meta.name}}</option>
        </select>

        <input id="values"
               class="form-control mb-2 mr-sm-2 mb-sm-0 col-md-3"
               type="text"
               placeholder="Values"
               formControlName="values"
               i18n-placeholder/>
        <div class="col-md-1">
          <button class="btn btn-primary" type="submit" i18n>Add</button>
        </div>
      </form>
    </div>
  </div>
</div>

<app-metadata-edit [metadataList]="allMetadata"
                   [metadata]="selectedMetadata"
                   (onCompleted)="selectedMetadata = null"></app-metadata-edit>
