<div class="container">

  <div class="row text-center">
    <div class="col">
      <h3>Metadata</h3>
    </div>
  </div>
  <div class="row text-center">
    <div class="col">
      <span class="font-weight-bold">Name</span>
    </div>
    <div class="col">
      <span class="font-weight-bold">Type</span>
    </div>
    <div class="col">
      <span class="font-weight-bold">Actions</span>
    </div>
  </div>
  <div *ngFor="let meta of metadata" class="row text-center">
    <div class="col">{{meta.name}}</div>
    <div class="col">{{meta.type}}</div>
    <div class="col">
      <a (click)="delete(meta)" class="remove fa fa-trash" aria-hidden="true"></a>
    </div>
  </div>
  <hr/>
  <div class="row">
    <div class="col offset-4">
      <form action="post" class="form-inline mx-auto" [formGroup]="createForm" (submit)="onSubmit()">
        <label class="sr-only" for="name">Name</label>
        <input id="name" class="form-control mb-2 mr-sm-2 mb-sm-0" type="text" placeholder="name"
               formControlName="name"/>
        <input id="type" type="hidden" formControlName="type"/>
        <button class="btn btn-primary" type="submit">add</button>
      </form>
    </div>
  </div>
</div>
