<div class="container">
  <table class="table">
    <thead>
    <tr>
      <th colspan="3" class="text-center" i18n>Metadata</th>
    </tr>
    <tr>
      <th i18n>Name</th>
      <th i18n>Type</th>
      <th i18n>Parent</th>
      <th i18n>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>
        <div class="col">
          <input class="form-control form-control-sm" #nameFilter id="name-filter"
                 (keyup)="filterByName(nameFilter.value)" type="text" placeholder="name" i18n-placeholder>
        </div>
      </td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr *ngFor="let meta of metadata">
      <td>{{meta.name}}</td>
      <td>{{meta.type}}</td>
      <td>{{meta.parent?.name}}</td>
      <td><a i18n-title title="Edit" (click)="edit(meta)" class="edit fa fa-edit" aria-hidden="true"></a>
        <a i18n-title title="Remove" (click)="remove(meta)" class="remove fa fa-trash" aria-hidden="true"></a></td>
    </tr>
    <tr *ngIf="!metadata?.length">
      <td colspan="4" class="text-center" i18n>No results found</td>
    </tr>
    </tbody>
  </table>
  <nav *ngIf="collectionView">
    <ul class="pagination justify-content-center">
      <li *ngIf="collectionView.first" [ngClass]="{'active disabled': collectionView['@id'] == collectionView.first}"
          class="page-item">
        <a class="page-link pointer" (click)="setPage(collectionView.first)" i18n>First</a>
      </li>
      <li *ngIf="collectionView.previous" class="page-item">
        <a class="page-link pointer" (click)="setPage(collectionView.previous)" i18n>Previous</a>
      </li>
      <li *ngIf="collectionView.next" class="page-item">
        <a class="page-link pointer" (click)="setPage(collectionView.next)" i18n>Next</a>
      </li>
      <li *ngIf="collectionView.last" [ngClass]="{'active disabled': collectionView['@id'] == collectionView.last}"
          class="page-item">
        <a class="page-link pointer" (click)="setPage(collectionView.last)" i18n>Last</a>
      </li>
    </ul>
  </nav>
  <hr/>
  <div class="row justify-content-md-center">
    <div class="col-md-auto">
      <form action="post" class="form-inline mx-auto" [formGroup]="createForm" (submit)="onSubmit()">
        <label class="sr-only" for="name">Name</label>
        <input id="name"
               class="form-control mb-2 mr-sm-2 mb-sm-0"
               type="text"
               placeholder="Name"
               formControlName="name"
               i18n-placeholder/>
        <label class="sr-only" for="type" i18n>Type</label>
        <select id="type"
                class="form-control mb-2 mr-sm-2 mb-sm-0"
                formControlName="type">
          <option *ngFor="let type of types.types;" [value]="type.type">{{type.label}}</option>
        </select>

        <label class="sr-only" for="parent" i18n>Parent</label>
        <select id="parent"
                class="form-control mb-2 mr-sm-2 mb-sm-0"
                formControlName="parent">
          <option selected value="null">-</option>
          <option *ngFor="let meta of metadata" [value]="meta.id">{{meta.name}}</option>
        </select>
        <button class="btn btn-primary" type="submit" i18n>Add</button>
      </form>
    </div>
  </div>
</div>

<app-metadata-edit [metadata]="selectedMetadata" (onCompleted)="selectedMetadata = null"></app-metadata-edit>
