@import '~scss/variables';

table {
  border-collapse: collapse;
  margin: 0 0 18px;
  width: 100%;

  th,
  td {
    border: 1px solid $white;
    padding: 10px;
    vertical-align: middle;
    text-align: left;
  }

  th {
    background: $brand-primary;
    color: $white;

    &.actions {
      width: 12%;
    }
  }

  td {
    background: $gray-light;

    &.actions {
      text-align: center;
    }
  }

  &.archive {
    th {
      background: $gray-darker;
    }

    td {
      background: $gray;
    }
  }

}

.fa-spin {
  color: $gray;
}

.empty-text {
  background: $gray-lighter;
  margin: 0 0 28px;
  padding: 40px 20px;
}
.wrap {
  margin: 10%;
}