<table class="table">
  <thead>
  <tr>
    <th>#</th>
    <th i18n>Word</th>
    <th i18n>Stressed</th>
    <th i18n>Broken</th>
    <th i18n>Classification</th>
    <th i18n>Info</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td></td>
    <td>
      <div class="col-6">
        <input class="form-control form-control-sm" #nameFilter id="name-filter"
               (keyup)="filterByName(nameFilter.value)" type="text" placeholder="name" i18n-placeholder>
      </div>
    </td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr *ngFor="let word of words;let i = index;">
    <th scope="row">{{i+1}}</th>
    <td>{{word.name}}</td>
    <td>{{word.nameStressed}}</td>
    <td>{{word.nameBroken}}</td>
    <td>{{word.classification}}</td>
    <td class="info">
      <button class="btn btn-info btn-sm pointer" (click)="showWord(word)">
        <i class="fa fa-info" aria-hidden="true"></i>
      </button>
    </td>
  </tr>
  <tr *ngIf="!words?.length">
    <td colspan="6" class="text-center" i18n>No results found</td>
  </tr>
  </tbody>
</table>

<nav aria-label="Page navigation example" *ngIf="collectionView">
  <ul class="pagination justify-content-center">
    <li *ngIf="collectionView.first" [ngClass]="{'active disabled': collectionView['@id'] == collectionView.first}"
        class="page-item">
      <a class="page-link pointer" (click)="setPage(collectionView.first)" i18n>First</a>
    </li>
    <li *ngIf="collectionView.previous" class="page-item">
      <a class="page-link pointer" (click)="setPage(collectionView.previous)" i18n>Previous</a>
    </li>
    <li *ngIf="collectionView.next" class="page-item">
      <a class="page-link pointer" (click)="setPage(collectionView.next)" i18n>Next</a>
    </li>
    <li *ngIf="collectionView.last" [ngClass]="{'active disabled': collectionView['@id'] == collectionView.last}"
        class="page-item">
      <a class="page-link pointer" (click)="setPage(collectionView.last)" i18n>Last</a>
    </li>
  </ul>
</nav>

<app-word-view [word]="selectedWord" (onCompleted)="selectedWord = null"></app-word-view>
