<table class="table">
  <thead>
  <tr>
    <th>#</th>
    <th>Word</th>
    <th>Stressed</th>
    <th>Broken</th>
    <th>Classification</th>
    <th>Info</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let word of words;let i = index;">
    <th scope="row">{{i+1}}</th>
    <td>{{word.name}}</td>
    <td>{{word.nameStressed}}</td>
    <td>{{word.nameBroken}}</td>
    <td>{{word.classification}}</td>
    <td class="info"><i class="fa fa-info" aria-hidden="true" (click)="showWord(word)"></i></td>
  </tr>
  </tbody>
</table>
