<div class="form-group row justify-content-end">
  <label class="col-sm-2 col-form-label" for="name-filter" i18n>Search</label>
  <div class="col-sm-6">
    <input class="form-control form-control-sm" #nameFilter id="name-filter"
           (keyup)="filterByName(nameFilter.value)" type="text" placeholder="term" i18n-placeholder>
  </div>
</div>

<div class="container">
  <div *ngFor="let image of images" class="item">
    <div class="img-thumbnail">
      <img class="img-fluid" [src]="image.thumb" (click)="onClick(image)"/>
    </div>
  </div>
</div>

<div class="row text-center mb-4 mt-4" *ngIf="!images.length">
  <div class="col-md-12" i18n>No images found</div>
</div>

<nav *ngIf="collectionView">
  <ul class="pagination justify-content-center">
    <li *ngIf="collectionView.first" [ngClass]="{'active disabled': collectionView['@id'] == collectionView.first}"
        class="page-item">
      <a class="page-link pointer" (click)="setPage(collectionView.first)" i18n>First</a>
    </li>
    <li *ngIf="collectionView.previous" class="page-item">
      <a class="page-link pointer" (click)="setPage(collectionView.previous)" i18n>Previous</a>
    </li>
    <li *ngIf="collectionView.next" class="page-item">
      <a class="page-link pointer" (click)="setPage(collectionView.next)" i18n>Next</a>
    </li>
    <li *ngIf="collectionView.last" [ngClass]="{'active disabled': collectionView['@id'] == collectionView.last}"
        class="page-item">
      <a class="page-link pointer" (click)="setPage(collectionView.last)" i18n>Last</a>
    </li>
  </ul>
</nav>
