<div class="container">
  <table class="table">
    <thead>
    <tr>
      <th colspan="3" class="text-center" i18n>Tests</th>
    </tr>
    <tr>
      <th i18n>Name</th>
      <th i18n>Units count</th>
      <th i18n>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let test of tests">
      <td>{{test.name}}</td>
      <td>{{test.units?.length}}</td>
      <td>
        <a *ngIf="test.units?.length" i18n-title title="Start" [routerLink]="['/tests/start', test.id]" class="edit fa fa-play pointer"></a>
        <a i18n-title title="Edit" [routerLink]="['/tests/view', test.id]" class="edit fa fa-edit pointer"></a>
        <a i18n-title title="Remove" (click)="remove(test)" class="remove fa fa-trash"></a>
      </td>
    </tr>
    <tr *ngIf="!tests?.length">
      <td colspan="4" class="text-center" i18n>No results found</td>
    </tr>
    </tbody>
  </table>
  <nav *ngIf="collectionView && collectionView.pages">
    <ul class="pagination justify-content-center">
      <li *ngIf="collectionView.first" [ngClass]="{'active disabled': collectionView.current == collectionView.first}"
          class="page-item">
        <a class="page-link pointer" (click)="setPage(collectionView.first)" i18n>First</a>
      </li>
      <li *ngIf="collectionView.previous" class="page-item">
        <a class="page-link pointer" (click)="setPage(collectionView.previous)" i18n>Previous</a>
      </li>
      <li *ngIf="collectionView.next" class="page-item">
        <a class="page-link pointer" (click)="setPage(collectionView.next)" i18n>Next</a>
      </li>
      <li *ngIf="collectionView.last" [ngClass]="{'active disabled': collectionView.current == collectionView.last}"
          class="page-item">
        <a class="page-link pointer" (click)="setPage(collectionView.last)" i18n>Last</a>
      </li>
    </ul>
  </nav>
</div>
