<div class="container">
  <table class="table">
    <thead>
    <tr>
      <th colspan="3" class="text-center" i18n>Tests</th>
    </tr>
    <tr>
      <th i18n>Name</th>
      <th i18n>Units count</th>
      <th i18n>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let test of tests">
      <td>{{test.name}}</td>
      <td>{{test.units?.length}}</td>
      <td>
        <a *ngIf="test.units?.length" i18n-title title="Start" [routerLink]="['/tests/start', test.id]" class="edit fa fa-play pointer"></a>
        <a *ngIf="acl.isCreator() ||acl.isAdmin()" i18n-title title="Edit" [routerLink]="['/tests/view', test.id]" class="edit fa fa-edit pointer"></a>
        <a *ngIf="acl.isCreator() ||acl.isAdmin()" i18n-title title="Results" [routerLink]="['/tests/results', test.id]" class="results fa fa-bar-chart pointer"></a>
        <a *ngIf="acl.isAdmin()" i18n-title title="Remove" (click)="remove(test)" class="remove fa fa-trash"></a>
      </td>
    </tr>
    <tr *ngIf="!tests?.length">
      <td colspan="4" class="text-center" i18n>No results found</td>
    </tr>
    </tbody>
  </table>
  <app-pager [collectionView]="collectionView" (onPageChanged)="setPage($event)"></app-pager>
</div>
