@font-face {
  font-family: 'Canaro';
  src: url('Canaro-Bold.eot'); /* IE9 Compat Modes */
  src: url('Canaro-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('Canaro-Bold.woff') format('woff'), /* Modern Browsers */
       url('Canaro-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('Canaro-Bold.svg#9f50307aba31ca7fef3272742898b59d') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  700;
}

