@font-face {
  font-family: 'Canaro';
  src: url('Canaro-BookItalic.eot'); /* IE9 Compat Modes */
  src: url('Canaro-BookItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('Canaro-BookItalic.woff') format('woff'), /* Modern Browsers */
       url('Canaro-BookItalic.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('Canaro-BookItalic.svg#a078535e7005cfb48cf612b9aabec77c') format('svg'); /* Legacy iOS */
       
  font-style:   italic;
  font-weight:  400;
}

