<div class="container">
  <h5 class="text-center" i18n>Word processing tools</h5>
  <hr/>
  <form action="post" class="form-inline mx-auto" [formGroup]="commonForm" (submit)="showOutput()">
    <div class="col-auto">
      <div class="input-group mb-2 mb-sm-0">
        <input type="text" class="form-control" id="word" formControlName="word" placeholder="Word"
               [class.is-invalid]="commonForm.get('word').touched && commonForm.get('word').hasError('required')"
               i18n-placeholder>
      </div>
    </div>

    <div class="col-auto">
      <div class="input-group mb-2 mb-sm-0">
        <select class="form-control" id="algorithm" formControlName="algorithm">
          <option value="syllables" i18n>Syllables</option>
          <option value="transcription" i18n>Transcription</option>
          <option value="rhymeform" i18n>Rhymeform</option>
          <option value="reduction" i18n>Reduction</option>
          <option value="phonemes" i18n>Phonemes</option>
          <option value="rhymes" i18n>Rhymes</option>
        </select>
      </div>
    </div>
    <div class="col-auto">
      <button type="submit" class="btn btn-primary" i18n>Check</button>
    </div>
  </form>

  <hr/>

  <div class="mx-auto row" *ngIf="result;else no_result">
    <div class="col text-center">
      {{result}}
    </div>
  </div>
  <ng-template #no_result>No result</ng-template>
</div>
