<div class="container">
  <table class="table">
    <thead>
    <tr>
      <th>#</th>
      <th i18n>Name</th>
      <th i18n>Number of images</th>
      <th i18n>Cognitive type</th>
      <th i18n>Cognitive subtype</th>
      <th i18n>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let unit of units;let i = index;">
      <th scope="row">{{i+1}}</th>
      <td>{{unit.name}}</td>
      <td>{{unit.unit_images.length}}</td>
      <td>{{unit.cognitive_type?.name}}</td>
      <td>{{unit.cognitive_subtype?.name}}</td>
      <td><a [routerLink]="['/units/view', unit.id]" class="pointer fa fa-eye" title="View" i18n-title></a>
        <a *ngIf="!test" class="pointer fa fa-trash" aria-hidden="true" (click)="removeUnit(unit)" title="Remove"
           i18n-title></a>
        <a *ngIf="test" class="pointer fa fa-upload" title="Assign to test" i18n-title
           aria-hidden="true"
           (click)="assignToTest(unit)"></a></td>
    </tr>
    <tr *ngIf="!units?.length">
      <td colspan="5" class="text-center" i18n>No results found</td>
    </tr>
    </tbody>
  </table>
  <app-pager [collectionView]="collectionView" (onPageChanged)="setPage($event)"></app-pager>
</div>
