<div class="media" *ngIf="currentImage">

  <button title="Delete" type="button" class="close remove-button" aria-label="Close" (click)="removeImage()">
    <span aria-hidden="true">&times;</span>
  </button>
  <img class="img-fluid img-thumbnail m-2" [src]="currentImage.large"/>

  <div class="media-body m-2">
    <h3 i18n>Metadata</h3>
    <table class="table table-sm table-striped">
      <tr *ngFor="let imageMeta of currentImage.imageMetadata" class="row">
        <td class="font-weight-bold col">{{imageMeta.metadata.name}}</td>
        <td class="col">{{imageMeta.value}}</td>
        <td class="col"><a class="remove fa fa-trash" aria-hidden="true" (click)="removeMetadata(imageMeta)"></a></td>
      </tr>
    </table>
    <hr/>

    <form action="post" class="mx-auto" [formGroup]="metadataForm" (submit)="onSubmit()">
      <input type="hidden" value="{{currentImage.id}}" id="image" formControlName="image"/>

      <div class="form-group row">
        <label for="metadata" class="col col-form-label" i18n>Metadata</label>
        <div class="col">
          <select class="form-control" id="metadata" formControlName="metadata">
            <option *ngFor="let meta of allMetadata" [value]="meta['@id']">{{meta.name}}</option>
          </select>
          <div class="form-control-feedback"
               *ngIf="metadataForm.get('metadata').touched && metadataForm.get('metadata').hasError('required')"
               i18n>This field is required</div>
        </div>
      </div>

      <div class="form-group row">
        <label for="value" class="col col-form-label" i18n>Value</label>
        <div class="col">
          <input type="text" class="form-control" id="value" formControlName="value">
          <div class="form-control-feedback"
               *ngIf="metadataForm.get('value').touched && metadataForm.get('value').hasError('required')"
               i18n>This field is required</div>
        </div>
      </div>

      <div class="row">
        <div class="text-right col-4 offset-8">
          <button class="btn btn-primary" type="submit" i18n>Add</button>
        </div>
      </div>
    </form>
  </div>
</div>
