<div class="media" *ngIf="currentImage">

  <img class="d-flex mr-3" [src]="currentImage.large"/>

  <div class="media-body">
    <h5 class="mt-0">Media heading</h5>
    Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio,
    vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia
    congue felis in faucibus.
    <form action="post" class="mx-auto" [formGroup]="metadataForm" (submit)="onSubmit()">
      <input type="hidden" value="{{currentImage.id}}" id="image" formControlName="image"/>
      <input type="text" class="form-control" id="value" formControlName="value">

      <select class="form-control" id="metadata" formControlName="metadata">
        <option *ngFor="let meta of allMetadata" [value]="meta['@id']">{{meta.name}}</option>
      </select>

      <div class="row">
        <div class="col-sm-4"></div>
        <div class="text-center col-sm-8">
          <button class="btn btn-primary" type="submit">Add</button>
        </div>
      </div>
    </form>

  </div>
</div>


