<div class="unit-container">
  <div class="image-container" *ngFor="let rows of images">
    <div class="image-item" *ngFor="let unit_image of rows"
         [ngClass]="{selected: selected === unit_image}">
      <img [src]="unit_image.image.thumb"
           (click)="changeSelected(unit_image)">
    </div>
  </div>
</div>
<hr/>
<form action="post" class="mx-auto" [formGroup]="updateForm" (ngSubmit)="onSubmit()">
  <div class="form-group row no-gutters">
    <label class="col-md-2 control-label" for="unitText" i18n>Text</label>
    <div class="col-md-8">
      <input type="text" name="unitText" class="form-control" id="unitText" formControlName="text">
    </div>
  </div>
  <div class="form-group row no-gutters">
    <label class="col-md-2 control-label" for="type" i18n>Type</label>
    <div class="col-md-8">
      <select id="type"
              class="form-control mb-2 mr-sm-2 mb-sm-0"
              formControlName="type">
      </select>
      <div class="form-control-feedback"
           *ngIf="updateForm.get('type').touched && updateForm.get('type').hasError('required')"
           i18n>This field is required</div>
    </div>
  </div>
  <div class="form-group row no-gutters">
    <label class="col-md-2 control-label" for="cognitive_type_id" i18n>Cognitive type</label>
    <div class="col-md-8">
      <select id="cognitive_type_id"
              class="form-control mb-2 mr-sm-2 mb-sm-0"
              formControlName="cognitive_type_id">
        <option *ngFor="let cognitiveType of cognitiveTypes" [value]="cognitiveType.id">{{cognitiveType.name}}</option>
      </select>
      <div class="form-control-feedback"
           *ngIf="updateForm.get('cognitive_type_id').touched && updateForm.get('cognitive_type_id').hasError('required')"
           i18n>This field is required</div>
    </div>
  </div>
  <div class="form-group row no-gutters">
    <label class="col-md-2 control-label" for="cognitive_subtype_id" i18n>Cognitive subtype</label>
    <div class="col-md-8">
      <select id="cognitive_subtype_id"
              class="form-control mb-2 mr-sm-2 mb-sm-0"
              formControlName="cognitive_subtype_id">
        <option *ngFor="let cognitiveType of cognitiveSubTypes" [value]="cognitiveType.id">{{cognitiveType.name}}</option>
      </select>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm-4"></div>
      <div class="text-center col-sm-8">
        <button class="btn btn-primary" type="submit" i18n>Save</button>
      </div>
    </div>
  </div>
</form>
<hr/>
<app-image-list (onImageClicked)="onImageSelect($event)"></app-image-list>
