button, html [type="button"], [type="reset"], [type="submit"], .btn {
  -webkit-appearance: none;

  &:hover,
  &:focus,
  &:active {
    -webkit-appearance: none;
    box-shadow: none;
    outline: 0;
    text-decoration: none;
  }
}

.button-container {
  display: block;
  flex-wrap: nowrap;
  padding: 0;
}

.btn {
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  height: auto;
  padding: 10px 20px;
  width: auto;
  min-width: 180px;
  border-radius: 10px;

  .button-container.text-right & {
    margin: 0 0 12px 8px;
  }

  .button-container.text-left & {
    margin: 0 12px 12px 0;
  }

  .button-container.text-center & {
    margin: 0 6px 12px;
  }

}

.btn-small {
  padding: 6px 10px;
  min-width: 100px;
  background: $gray-dark;
  line-height: 1;
  color: $white;

  &:hover {
    color: $white;
  }
}

.btn-primary {
  box-sizing: border-box;
  border: 1px solid $brand-primary;
  color: $white;
  background: $brand-primary;

  &:focus,
  &:active,
  &:hover {
    background: $brand-primary;
    color: $white;
  }
}

.btn-default {
  border: 1px solid $brand-primary;
  color: $brand-primary;
  background: transparent;
}

.btn-success {
  background: $brand-success;

  &:focus,
  &:active,
  &:hover {
    background: $brand-success;
    color: $white;
  }
}
.btn-info {
  background: $brand-danger;

  &:hover {
    background: $brand-success;
  }
}

.btn-danger {
  border: 1px solid $brand-error;
  background: transparent;
  color: $brand-error;
}

