h1,
h2,
h3 {
  color: $brand-primary;
  font-size: 20px;
  margin: 0 0 12px;
}

.pointer {
  cursor: pointer;
}

.app-processing-spinner {
  display: none;
  .processing & {
    margin: 0 6px 0 0;
    display: inline-block;
  }
}
