@mixin common-font {
  font-family: $common-font;
}

@mixin common-italic {
  font-family: $common-italic;
}

@mixin common-bold {
  font-family: $common-bold;
  font-weight: 400;
}

@mixin common-bold-italic {
  font-family: $common-bold-italic;
  font-weight: 400;
}

@mixin brand-font {
  font-family: $brand-font;
}

@mixin brand-bold {
  font-family: $brand-bold;
  font-weight: 400;
}

@mixin brand-light {
  font-family: $brand-light;
}

@mixin truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@mixin translate($x, $y) {
  transform: translate($x, $y);
}

@mixin center-element {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

@mixin size($width, $height) {
  height: $height;
  width: $width;
}

@mixin square($size) {
  @include size($size, $size);
}

@mixin circle($size) {
  @include square($size);
  border-radius: 50%;
}

@mixin placeholder($color, $font-size: 12px) {
  &::-webkit-input-placeholder {
    color: $color;
    font-size: $font-size;
  }
  &:-moz-placeholder {
    color: $color;
    font-size: $font-size;
  }
  &::-moz-placeholder {
    color: $color;
    font-size: $font-size;
  }
  &::-webkit-input-placeholder {
    color: $color;
    font-size: $font-size;
  }
  &:-ms-input-placeholder {
    color: $color;
    font-size: $font-size;
  }
}
