<div class="row justify-content-md-center">
  <div class="col-md-auto">
    <form action="post" class="form-inline mx-auto" [formGroup]="createForm" (submit)="onSubmit()">
      <label class="sr-only" for="name" i18n>Name</label>
      <input id="name"
             class="form-control mb-2 mr-sm-2 mb-sm-0"
             type="text"
             placeholder="Name"
             formControlName="name"
             i18n-placeholder/>
      <label class="sr-only" for="parent" i18n>Parent</label>
      <select id="parent"
              class="form-control mb-2 mr-sm-2 mb-sm-0"
              formControlName="parent">
        <option selected value="null">-</option>
        <option *ngFor="let cognitiveType of allCognitiveTypes" [value]="cognitiveType.id">{{cognitiveType.name}}</option>
      </select>
      <button class="btn btn-primary" type="submit" i18n>Add</button>
    </form>
  </div>
</div>
