<footer class="site-footer">
  <div class="max-width">
    <div class="row">
      <div class="col-sm-6">
        <nav class="social-nav">
          <a href="#" class="fa fa-facebook" aria-hidden="true"></a>
          <a href="#" class="fa fa-twitter" aria-hidden="true"></a>
          <a href="#" class="fa fa-instagram" aria-hidden="true"></a>
          <a href="#" class="fa fa-pinterest" aria-hidden="true"></a>
          <a href="#" class="fa fa-youtube-play" aria-hidden="true"></a>
        </nav>
        <div class="copyright">&copy;{{currentYear}} localhost</div>
      </div>
      <div class="col-sm-6 text-right">
        <!--<img src="/assets/img/dreyhub.svg" alt="localhost" class="footer-logo">-->
        <ul>
          <li>hello@localhost</li>
        </ul>
      </div>
    </div>
  </div>
</footer>

