<div class="container">
  <table class="table">
    <thead>
    <tr>
      <th colspan="3" class="text-center" i18n>Cognitive skills</th>
    </tr>
    <tr>
      <th i18n>Name</th>
      <th i18n>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let cognitiveSkill of cognitiveSkills">
      <td>{{cognitiveSkill.name}}</td>
      <td>
        <a i18n-title title="Edit" [routerLink]="['/cognitive-skills',cognitiveSkill.id]"
           class="edit fa fa-edit pointer"></a>
        <a i18n-title title="Remove" (click)="remove(cognitiveSkill)" class="remove fa fa-trash"></a>
      </td>
    </tr>
    <tr *ngIf="!cognitiveSkills?.length">
      <td colspan="4" class="text-center" i18n>No results found</td>
    </tr>
    </tbody>
  </table>
  <nav *ngIf="collectionView">
    <ul class="pagination justify-content-center">
      <li *ngIf="collectionView.first" [ngClass]="{'active disabled': collectionView.current == collectionView.first}"
          class="page-item">
        <a class="page-link pointer" (click)="setPage(collectionView.first)" i18n>First</a>
      </li>
      <li *ngIf="collectionView.previous" class="page-item">
        <a class="page-link pointer" (click)="setPage(collectionView.previous)" i18n>Previous</a>
      </li>
      <li *ngIf="collectionView.next" class="page-item">
        <a class="page-link pointer" (click)="setPage(collectionView.next)" i18n>Next</a>
      </li>
      <li *ngIf="collectionView.last" [ngClass]="{'active disabled': collectionView.current == collectionView.last}"
          class="page-item">
        <a class="page-link pointer" (click)="setPage(collectionView.last)" i18n>Last</a>
      </li>
    </ul>
  </nav>
  <hr/>
  <div class="row justify-content-md-center">
    <div class="col-md-auto">
      <form action="post" class="form-inline mx-auto" [formGroup]="createForm" (submit)="onSubmit()">
        <label class="sr-only" for="name">Name</label>
        <input id="name"
               class="form-control mb-2 mr-sm-2 mb-sm-0"
               type="text"
               placeholder="Name"
               formControlName="name"
               i18n-placeholder/>
        <button class="btn btn-primary" type="submit" i18n>Add</button>
      </form>
    </div>
  </div>
</div>
