@font-face {
  font-family: 'Canaro Black';
  src: url('Canaro-BlackItalic.eot'); /* IE9 Compat Modes */
  src: url('Canaro-BlackItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('Canaro-BlackItalic.woff') format('woff'), /* Modern Browsers */
       url('Canaro-BlackItalic.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('Canaro-BlackItalic.svg#5deec0197b0c63bf55d125f959ede923') format('svg'); /* Legacy iOS */
       
  font-style:   italic;
  font-weight:  400;
}

